In [1]:
import pandas as pd # pandas is a data manipulation library
import numpy as np #provides numerical arrays and functions to manipulate the arrays efficiently
import random
import re
import matplotlib.pyplot as plt # data visualization library
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS #used to generate world cloud

In [2]:
#데이터 불러오기
movies= pd.read_csv('movies.csv')
tags = pd.read_csv('tags.csv')
ratings = pd.read_csv('ratings.csv')

In [3]:
#max 컬럼수 조정
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [4]:
#각 데이터 미리보기
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [5]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [6]:
tags

         userId  movieId                  tag   timestamp
0             3      260              classic  1439472355
1             3      260               sci-fi  1439472256
2             4     1732          dark comedy  1573943598
3             4     1732       great dialogue  1573943604
4             4     7569     so bad it's good  1573943455
...         ...      ...                  ...         ...
1093355  162521    66934  Neil Patrick Harris  1427311611
1093356  162521   103341     cornetto trilogy  1427311259
1093357  162534   189169               comedy  1527518175
1093358  162534   189169             disabled  1527518181
1093359  162534   189169              robbery  1527518193

[1093360 rows x 4 columns]

In [7]:
#영화 이름에서 출시일 추출
movies['movie_year'] = movies['title']
movies['movie_year'] = movies['movie_year'].str.extract(r"\(([0-9]+)\)", expand=False)

#영화 이름에서 이름 추출
movies['title_only'] = movies['title']
movies['title_only'] = movies['title_only'].str.extract('(.*?)\s*\(', expand=False)

movies

,movieId,title,genres,movie_year,title_only
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II
...,...,...,...,...,...
62418,209157,We (2018),Drama,2018,We
62419,209159,Window of the Soul (2001),Documentary,2001,Window of the Soul
62420,209163,Bad Poems (2018),Comedy|Drama,2018,Bad Poems
62421,209169,A Girl Thing (2001),(no genres listed),2001,A Girl Thing
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,1962,Women of Devil's Island

In [8]:
#Drop all rows containing incorrect year values - such as 0, 6, 69, 500 and -2147483648, 잘못된 출시일 드랍
movies.drop(movies[movies.movie_year == 'NaN'].index, inplace=True)
movies.drop(movies[movies.movie_year == '0'].index, inplace=True)
movies.drop(movies[movies.movie_year == '6'].index, inplace=True)
movies.drop(movies[movies.movie_year == '06'].index, inplace=True)
movies.drop(movies[movies.movie_year == '69'].index, inplace=True)
movies.drop(movies[movies.movie_year == '500'].index, inplace=True)
movies.drop(movies[movies.movie_year == '-2147483648'].index, inplace=True)

movies.drop(movies[movies.movie_year == 0].index, inplace=True)
movies.drop(movies[movies.movie_year == 6].index, inplace=True)
movies.drop(movies[movies.movie_year == 69].index, inplace=True)
movies.drop(movies[movies.movie_year == 500].index, inplace=True)
movies.drop(movies[movies.movie_year == -2147483648].index, inplace=True)

movies

,movieId,title,genres,movie_year,title_only
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II
...,...,...,...,...,...
62418,209157,We (2018),Drama,2018,We
62419,209159,Window of the Soul (2001),Documentary,2001,Window of the Soul
62420,209163,Bad Poems (2018),Comedy|Drama,2018,Bad Poems
62421,209169,A Girl Thing (2001),(no genres listed),2001,A Girl Thing
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,1962,Women of Devil's Island

In [9]:
#convert the string values to numeric (년도 숫자형으로 변경)
movies['movie_year'] = pd.to_numeric(movies['movie_year'])

In [10]:
#2015년 이후 출시된 영화추출
movie2015_index = movies[movies['movie_year'] < 2015].index
movie2015 = movies.drop(movie2015_index)

movie2015

,movieId,title,genres,movie_year,title_only
15036,79607,"Millions Game, The (Das Millionenspiel)",Action|Drama|Sci-Fi|Thriller,NaN,"Millions Game, The"
21697,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation
22072,113345,Jupiter Ascending (2015),Action|Adventure|Sci-Fi,2015.0,Jupiter Ascending
22595,115713,Ex Machina (2015),Drama|Sci-Fi|Thriller,2015.0,Ex Machina
23218,117466,In the Heart of the Sea (2015),Action|Adventure|Drama,2015.0,In the Heart of the Sea
...,...,...,...,...,...
62412,209143,The Painting (2019),Animation|Documentary,2019.0,The Painting
62413,209145,Liberté (2019),Drama,2019.0,Liberté
62415,209151,Mao Zedong 1949 (2019),(no genres listed),2019.0,Mao Zedong 1949
62418,209157,We (2018),Drama,2018.0,We
62420,209163,Bad Poems (2018),Comedy|Drama,2018.0,Bad Poems

In [11]:
#movie year NaN 삭제
movie2015 = movie2015.drop(index=15036, axis=0)

In [12]:
#rating에서 tumestamp 삭제
del ratings['timestamp']

In [13]:
#2015년 영화에 대한 rating
movie2015_rating = movie2015.merge(ratings, on = 'movieId', how = 'inner')
movie2015_rating

,movieId,title,genres,movie_year,title_only,userId,rating
0,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,4,3.5
1,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,119,4.5
2,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,243,2.0
3,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,248,3.5
4,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,253,3.5
...,...,...,...,...,...,...,...
832099,209143,The Painting (2019),Animation|Documentary,2019.0,The Painting,145795,1.0
832100,209145,Liberté (2019),Drama,2019.0,Liberté,145795,1.0
832101,209151,Mao Zedong 1949 (2019),(no genres listed),2019.0,Mao Zedong 1949,125475,3.5
832102,209157,We (2018),Drama,2018.0,We,119571,1.5
832103,209163,Bad Poems (2018),Comedy|Drama,2018.0,Bad Poems,6964,4.5

In [14]:
movie2015_rating.describe()

             movieId     movie_year         userId         rating
count  832104.000000  820374.000000  832104.000000  832104.000000
mean   153933.511180    2016.189887   80246.887265       3.529311
std     24292.970598       1.145163   46752.252181       1.056876
min    111781.000000    2015.000000       3.000000       0.500000
25%    134130.000000    2015.000000   39440.000000       3.000000
50%    155581.000000    2016.000000   78939.000000       3.500000
75%    173007.000000    2017.000000  120829.000000       4.000000
max    209163.000000    2019.000000  162538.000000       5.000000

In [15]:
movie2015_rating = movie2015_rating.dropna()
movie2015_rating

,movieId,title,genres,movie_year,title_only,userId,rating
0,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,4,3.5
1,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,119,4.5
2,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,243,2.0
3,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,248,3.5
4,111781,Mission: Impossible - Rogue Nation (2015),Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation,253,3.5
...,...,...,...,...,...,...,...
832099,209143,The Painting (2019),Animation|Documentary,2019.0,The Painting,145795,1.0
832100,209145,Liberté (2019),Drama,2019.0,Liberté,145795,1.0
832101,209151,Mao Zedong 1949 (2019),(no genres listed),2019.0,Mao Zedong 1949,125475,3.5
832102,209157,We (2018),Drama,2018.0,We,119571,1.5
832103,209163,Bad Poems (2018),Comedy|Drama,2018.0,Bad Poems,6964,4.5

In [16]:
# 82만개의 rating 중 10만개 랜덤 추출
movie2015_rating = movie2015_rating.sample(n=100000)
movie2015_rating

,movieId,title,genres,movie_year,title_only,userId,rating
453921,159858,The Conjuring 2 (2016),Horror,2016.0,The Conjuring 2,19024,3.0
220998,134170,Kung Fury (2015),Action|Comedy|Fantasy|Sci-Fi,2015.0,Kung Fury,5503,4.0
90074,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,2016.0,Deadpool,8992,2.5
443149,158966,Captain Fantastic (2016),Drama,2016.0,Captain Fantastic,28036,4.5
313062,140247,The Gift (2015),Drama|Horror,2015.0,The Gift,80571,4.0
...,...,...,...,...,...,...,...
486321,162578,Kubo and the Two Strings (2016),Adventure|Animation|Children|Fantasy,2016.0,Kubo and the Two Strings,94154,3.0
699125,180095,Wonder (2017),Drama,2017.0,Wonder,102451,4.5
493123,162606,The Accountant (2016),Crime|Drama|Thriller,2016.0,The Accountant,117985,3.5
609097,170813,Baywatch (2017),Action|Comedy,2017.0,Baywatch,84482,4.0
202880,133771,The Lobster (2015),Comedy|Romance|Sci-Fi,2015.0,The Lobster,143049,3.5

In [17]:
#top200 영화 추출
count_rated =movie2015_rating.groupby('title')[['userId']].count()
top200_count = count_rated.nlargest(199, 'userId')
top200_movie = top200_count.merge(movie2015, on='title', how ='inner')

top200_movie

,title,userId,movieId,genres,movie_year,title_only
0,The Martian (2015),2033,134130,Adventure|Drama|Sci-Fi,2015.0,The Martian
1,Deadpool (2016),1696,122904,Action|Adventure|Comedy|Sci-Fi,2016.0,Deadpool
2,Mad Max: Fury Road (2015),1683,122882,Action|Adventure|Sci-Fi|Thriller,2015.0,Mad Max: Fury Road
3,Inside Out (2015),1672,134853,Adventure|Animation|Children|Comedy|Drama|Fantasy,2015.0,Inside Out
4,Ex Machina (2015),1565,115713,Drama|Sci-Fi|Thriller,2015.0,Ex Machina
5,Star Wars: Episode VII - The Force Awakens (2015),1510,122886,Action|Adventure|Fantasy|Sci-Fi|IMAX,2015.0,Star Wars: Episode VII - The Force Awakens
6,Arrival (2016),1237,164179,Sci-Fi,2016.0,Arrival
7,Kingsman: The Secret Service (2015),1152,119145,Action|Adventure|Comedy|Crime,2015.0,Kingsman: The Secret Service
8,Zootopia (2016),1030,152081,Action|Adventure|Animation|Children|Comedy,2016.0,Zootopia
9,"Big Short, The (2015)",904,148626,Drama,2015.0,"Big Short, The"
10,The Revenant (2015),888,139385,Adventure|Drama,2015.0,The Revenant
11,Avengers: Age of Ultron (2015),886,122892,Action|Adventure|Sci-Fi,2015.0,Avengers: Age of Ultron
12,Rogue One: A Star Wars Story (2016),850,166528,Action|Adventure|Fantasy|Sci-Fi,2016.0,Rogue One: A Star Wars Story
13,Logan (2017),809,168252,Action|Sci-Fi,2017.0,Logan
14,Guardians of the Galaxy 2 (2017),795,122918,Action|Adventure|Sci-Fi,2017.0,Guardians of the Galaxy 2
15,Doctor Strange (2016),782,122922,Action|Adventure|Sci-Fi,2016.0,Doctor Strange
16,Avengers: Infinity War - Part I (2018),770,122912,Action|Adventure|Sci-Fi,2018.0,Avengers: Infinity War - Part I
17,Ant-Man (2015),764,122900,Action|Adventure|Sci-Fi,2015.0,Ant-Man
18,The Hateful Eight (2015),750,128360,Western,2015.0,The Hateful Eight
19,Captain America: Civil War (2016),744,122920,Action|Sci-Fi|Thriller,2016.0,Captain America: Civil War
20,Jurassic World (2015),710,117529,Action|Adventure|Drama|Sci-Fi|Thriller,2015.0,Jurassic World
21,Thor: Ragnarok (2017),707,122916,Action|Adventure|Sci-Fi,2017.0,Thor: Ragnarok
22,Spotlight (2015),666,142488,Thriller,2015.0,Spotlight
23,Get Out (2017),630,168250,Horror,2017.0,Get Out
24,Blade Runner 2049 (2017),606,176371,Sci-Fi,2017.0,Blade Runner 2049
25,The Hunger Games: Mockingjay - Part 2 (2015),547,135133,Adventure|Sci-Fi,2015.0,The Hunger Games: Mockingjay - Part 2
26,Mission: Impossible - Rogue Nation (2015),536,111781,Action|Adventure|Thriller,2015.0,Mission: Impossible - Rogue Nation
27,Dunkirk (2017),517,174055,Action|Drama|Thriller|War,2017.0,Dunkirk
28,Sicario (2015),515,139644,Crime|Drama|Mystery,2015.0,Sicario
29,Deadpool 2 (2018),513,187593,Action|Comedy|Sci-Fi,2018.0,Deadpool 2
30,Fantastic Beasts and Where to Find Them (2016),505,135143,Fantasy,2016.0,Fantastic Beasts and Where to Find Them
31,Untitled Spider-Man Reboot (2017),495,122926,Action|Adventure|Fantasy,2017.0,Untitled Spider-Man Reboot
32,Wonder Woman (2017),489,143355,Action|Adventure|Fantasy,2017.0,Wonder Woman
33,Room (2015),478,140174,Drama,2015.0,Room
34,10 Cloverfield Lane (2016),476,152077,Thriller,2016.0,10 Cloverfield Lane
35,Baby Driver (2017),469,171763,Action|Crime|Thriller,2017.0,Baby Driver
36,Moana (2016),467,166461,Adventure|Animation|Children|Comedy|Fantasy,2016.0,Moana
37,Bridge of Spies (2015),463,143385,Drama|Thriller,2015.0,Bridge of Spies
38,Coco (2017),463,177765,Adventure|Animation|Children,2017.0,Coco
39,La La Land (2016),457,164909,Comedy|Drama|Romance,2016.0,La La Land
40,"Three Billboards Outside Ebbing, Missouri (2017)",445,177593,Crime|Drama,2017.0,"Three Billboards Outside Ebbing, Missouri"
41,The Man from U.N.C.L.E. (2015),440,138036,Action|Adventure|Comedy,2015.0,The Man from U.N.C.L.E.
42,Star Wars: The Last Jedi (2017),417,179819,Action|Adventure|Fantasy|Sci-Fi,2017.0,Star Wars: The Last Jedi
43,Spectre (2015),404,136020,Action|Adventure|Crime,2015.0,Spectre
44,Black Panther (2017),394,122906,Action|Adventure|Sci-Fi,2017.0,Black Panther
45,The Nice Guys (2016),394,158238,Crime|Mystery|Thriller,2016.0,The Nice Guys
46,Finding Dory (2016),393,157296,Adventure|Animation|Comedy,2016.0,Finding Dory
47,Spider-Man: Into the Spider-Verse (2018),389,195159,Action|Adventure|Animation|Sci-Fi,2018.0,Spider-Man: Into the Spider-Verse
48,Passengers (2016),387,166635,Adventure|Drama|Romance|Sci-Fi,2016.0,Passengers
49,The Intern (2015),379,140110,Comedy,2015.0,The Intern
50,Incredibles 2 (2018),369,187541,Action|Adventure|Animation|Children,2018.0,Incredibles 2
51,The Lobster (2015),367,133771,Comedy|Romance|Sci-Fi,2015.0,The Lobster
52,X-Men: Apocalypse (2016),367,122924,Action|Adventure|Fantasy|Sci-Fi,2016.0,X-Men: Apocalypse
53,Hidden Figures (2016),365,166643,Drama,2016.0,Hidden Figures
54,Avengers: Infinity War - Part II (2019),362,122914,Action|Adventure|Sci-Fi,2019.0,Avengers: Infinity War - Part II
55,Suicide Squad (2016),361,135536,Action|Crime|Sci-Fi,2016.0,Suicide Squad
56,Batman v Superman: Dawn of Justice (2016),355,136864,Action|Adventure|Fantasy|Sci-Fi,2016.0,Batman v Superman: Dawn of Justice
57,Star Trek Beyond (2016),350,135569,Action|Adventure|Sci-Fi,2016.0,Star Trek Beyond
58,Hacksaw Ridge (2016),338,163645,Drama|War,2016.0,Hacksaw Ridge
59,John Wick: Chapter Two (2017),334,168248,Action|Crime|Thriller,2017.0,John Wick: Chapter Two
60,Split (2017),330,166534,Drama|Horror|Thriller,2017.0,Split
61,Chappie (2015),329,120466,Action|Thriller,2015.0,Chappie
62,Spy (2015),325,134368,Action|Comedy|Crime,2015.0,Spy
63,Furious 7 (2015),317,130634,Action|Crime|Thriller,2015.0,Furious 7
64,Now You See Me 2 (2016),305,159093,Action|Comedy|Thriller,2016.0,Now You See Me 2
65,It (2017),291,175303,Horror,2017.0,It
66,Minions (2015),286,135887,Adventure|Animation|Children|Comedy,2015.0,Minions
67,Insurgent (2015),284,130490,Action|Sci-Fi|Thriller,2015.0,Insurgent
68,The Accountant (2016),283,162606,Crime|Drama|Thriller,2016.0,The Accountant
69,Bohemian Rhapsody (2018),278,192803,Drama,2018.0,Bohemian Rhapsody
70,The Shape of Water (2017),276,180031,Adventure|Drama|Fantasy,2017.0,The Shape of Water
71,The Jungle Book (2016),273,137857,Adventure|Drama|Fantasy,2016.0,The Jungle Book
72,Isle of Dogs (2018),266,183897,Animation|Comedy,2018.0,Isle of Dogs
73,A Quiet Place (2018),264,185029,Drama|Horror|Thriller,2018.0,A Quiet Place
74,Terminator Genisys (2015),262,120799,Action|Adventure|Sci-Fi|Thriller,2015.0,Terminator Genisys
75,Kubo and the Two Strings (2016),257,162578,Adventure|Animation|Children|Fantasy,2016.0,Kubo and the Two Strings
76,Lady Bird (2017),253,177615,Comedy,2017.0,Lady Bird
77,Captain Fantastic (2016),250,158966,Drama,2016.0,Captain Fantastic
78,Green Book (2018),248,194448,Comedy|Drama,2018.0,Green Book
79,Tomorrowland (2015),247,132046,Action|Adventure|Children|Mystery|Sci-Fi,2015.0,Tomorrowland
80,Annihilation (2018),245,182715,Adventure|Mystery|Sci-Fi|Thriller,2018.0,Annihilation
81,Hell or High Water (2016),245,161582,Crime|Drama,2016.0,Hell or High Water
82,Focus (2015),243,129354,Comedy|Crime|Drama|Romance,2015.0,Focus
83,Jupiter Ascending (2015),242,113345,Action|Adventure|Sci-Fi,2015.0,Jupiter Ascending
84,Maze Runner: Scorch Trials (2015),236,117895,Action|Thriller,2015.0,Maze Runner: Scorch Trials
85,Manchester by the Sea (2016),232,165549,Drama,2016.0,Manchester by the Sea
86,Ghost in the Shell (2017),223,168612,Action|Drama|Sci-Fi,2017.0,Ghost in the Shell
87,Sully (2016),223,160980,Drama,2016.0,Sully
88,Jumanji: Welcome to the Jungle (2017),222,179401,Action|Adventure|Children,2017.0,Jumanji: Welcome to the Jungle
89,The Witch (2015),210,140267,Horror,2015.0,The Witch
90,Beauty and the Beast (2017),209,168366,Fantasy|Romance,2017.0,Beauty and the Beast
91,Jason Bourne (2016),209,160438,Action,2016.0,Jason Bourne
92,Kung Fu Panda 3 (2016),209,149406,Action|Adventure|Animation,2016.0,Kung Fu Panda 3
93,Creed (2015),207,146656,Drama,2015.0,Creed
94,Your Name. (2016),207,163134,Animation|Drama|Fantasy|Romance,2016.0,Your Name.
95,Alien: Covenant (2017),202,169984,Action|Horror|Sci-Fi|Thriller,2017.0,Alien: Covenant
96,Kingsman: The Golden Circle (2017),202,176101,Action|Adventure|Comedy,2017.0,Kingsman: The Golden Circle
97,Hunt for the Wilderpeople (2016),197,152970,Adventure|Comedy,2016.0,Hunt for the Wilderpeople
98,Lion (2016),197,165551,Drama,2016.0,Lion
99,Solo: A Star Wars Story (2018),196,187595,Action|Adventure|Children|Sci-Fi,2018.0,Solo: A Star Wars Story
100,Ant-Man and the Wasp (2018),194,188301,Action|Adventure|Comedy|Fantasy|Sci-Fi,2018.0,Ant-Man and the Wasp
101,Me and Earl and the Dying Girl (2015),193,127202,Drama,2015.0,Me and Earl and the Dying Girl
102,Pirates of the Caribbean: Dead Men Tell No Tal...,190,122896,(no genres listed),2017.0,Pirates of the Caribbean: Dead Men Tell No Tales
103,Mission: Impossible - Fallout (2018),188,189333,Action|Adventure|Thriller,2018.0,Mission: Impossible - Fallout
104,Ted 2 (2015),188,135861,Comedy,2015.0,Ted 2
105,The Big Sick (2017),187,168326,Comedy|Romance,2017.0,The Big Sick
106,Sausage Party (2016),183,158872,Animation|Comedy,2016.0,Sausage Party
107,Warcraft (2016),177,122890,Action|Adventure|Fantasy,2016.0,Warcraft
108,The Secret Life of Pets (2016),176,135436,Animation|Comedy,2016.0,The Secret Life of Pets
109,War Dogs (2016),176,161131,Comedy,2016.0,War Dogs
110,Trainwreck (2015),174,134393,Comedy|Romance,2015.0,Trainwreck
111,Pitch Perfect 2 (2015),173,133419,Comedy,2015.0,Pitch Perfect 2
112,Everest (2015),171,142448,Adventure|Drama|Thriller,2015.0,Everest
113,Wind River (2017),170,175569,Action|Crime|Mystery|Thriller,2017.0,Wind River
114,Miss Peregrine's Home for Peculiar Children (2...,168,162600,Fantasy,2016.0,Miss Peregrine's Home for Peculiar Children
115,San Andreas (2015),168,132796,Action|Drama|Thriller,2015.0,San Andreas
116,Captain Marvel (2018),167,122910,Action|Adventure|Sci-Fi,2018.0,Captain Marvel
117,War for the Planet of the Apes (2017),165,173145,Action|Adventure|Drama|Sci-Fi,2017.0,War for the Planet of the Apes
118,"Hail, Caesar! (2016)",164,143859,Comedy,2016.0,"Hail, Caesar!"
119,The Magnificent Seven (2016),164,162350,Action|Western,2016.0,The Magnificent Seven
120,Ghostbusters (2016),163,160080,Action|Comedy|Horror|Sci-Fi,2016.0,Ghostbusters
121,Fantastic Four (2015),161,122902,Action|Adventure|Fantasy|Sci-Fi,2015.0,Fantastic Four
122,Life (2017),161,169864,Horror|Sci-Fi|Thriller,2017.0,Life
123,The Founder (2016),159,166946,Drama,2016.0,The Founder
124,The Conjuring 2 (2016),158,159858,Horror,2016.0,The Conjuring 2
125,Valerian and the City of a Thousand Planets (2...,158,173291,Action|Adventure|Sci-Fi,2017.0,Valerian and the City of a Thousand Planets
126,Hotel Transylvania 2 (2015),157,142997,Animation|Comedy,2015.0,Hotel Transylvania 2
127,Mother! (2017),157,176419,Drama|Horror|Mystery|Thriller,2017.0,Mother!
128,Piper (2016),157,160718,Animation,2016.0,Piper
129,Straight Outta Compton (2015),153,140715,Drama,2015.0,Straight Outta Compton
130,Hereditary (2018),152,183869,(no genres listed),2018.0,Hereditary
131,Game Night (2018),150,183611,Action|Comedy|Crime|Horror,2018.0,Game Night
132,Steve Jobs (2015),150,136562,Drama,2015.0,Steve Jobs
133,The Hitman's Bodyguard (2017),150,175661,Action|Comedy,2017.0,The Hitman's Bodyguard
134,Justice League (2017),149,122898,Action|Adventure|Sci-Fi,2017.0,Justice League
135,The Handmaiden (2016),148,158783,Drama|Romance|Thriller,2016.0,The Handmaiden
136,Don't Breathe (2016),147,161634,Thriller,2016.0,Don't Breathe
137,Independence Day: Resurgence (2016),147,135567,Action|Adventure|Sci-Fi,2016.0,Independence Day: Resurgence
138,Kung Fury (2015),147,134170,Action|Comedy|Fantasy|Sci-Fi,2015.0,Kung Fury
139,BlacKkKlansman (2018),146,189713,Comedy|Crime|Drama,2018.0,BlacKkKlansman
140,Home (2015),145,130520,Adventure|Animation|Children|Comedy|Fantasy|Sc...,2015.0,Home
141,"I, Tonya (2017)",145,178061,Drama,2017.0,"I, Tonya"
142,Kong: Skull Island (2017),143,168254,Action|Adventure|Fantasy,2017.0,Kong: Skull Island
143,Murder on the Orient Express (2017),141,177763,Crime|Drama|Mystery,2017.0,Murder on the Orient Express
144,Snowden (2016),141,157699,Drama|Thriller,2016.0,Snowden
145,Call Me by Your Name (2017),140,168492,Drama|Romance,2017.0,Call Me by Your Name
146,Fifty Shades of Grey (2015),139,125916,Drama|Romance,2015.0,Fifty Shades of Grey
147,Venom (2018),139,192389,Action|Horror|Sci-Fi|Thriller,2018.0,Venom
148,The Gift (2015),137,140247,Drama|Horror,2015.0,The Gift
149,The Greatest Showman (2017),133,180985,Drama,2017.0,The Greatest Showman
150,Swiss Army Man (2016),132,159415,Comedy|Drama|Romance,2016.0,Swiss Army Man
151,The Age of Adaline (2015),132,132480,Drama|Fantasy|Romance,2015.0,The Age of Adaline
152,Jurassic World: Fallen Kingdom (2018),131,187031,Action|Adventure|Drama|Sci-Fi|Thriller,2018.0,Jurassic World: Fallen Kingdom
153,Brooklyn (2015),130,127108,Drama|Romance,2015.0,Brooklyn
154,Green Room (2015),130,141866,(no genres listed),2015.0,Green Room
155,The Fate of the Furious (2017),130,170875,Action|Crime|Drama|Thriller,2017.0,The Fate of the Furious
156,Planet Earth II (2016),129,171011,Documentary,2016.0,Planet Earth II
157,Black Mass (2015),128,136018,Crime|Drama,2015.0,Black Mass
158,Cinderella (2015),128,130073,Children|Drama|Fantasy|Romance,2015.0,Cinderella
159,Me Before You (2016),128,152017,Drama|Romance,2016.0,Me Before You
160,The Girl on the Train (2016),128,162602,Thriller,2016.0,The Girl on the Train
161,Train to Busan (2016),128,162082,Action|Thriller,2016.0,Train to Busan
162,Atomic Blonde (2017),127,173941,Thriller,2017.0,Atomic Blonde
163,The Edge of Seventeen (2016),127,161922,Comedy,2016.0,The Edge of Seventeen
164,Upgrade (2018),127,189203,Action|Comedy|Horror|Sci-Fi|Thriller,2018.0,Upgrade
165,A Star Is Born (2018),126,192385,Drama|Romance,2018.0,A Star Is Born
166,Aquaman (2018),126,143347,Action|Fantasy|Sci-Fi,2018.0,Aquaman
167,Gifted (2017),123,170697,Drama,2017.0,Gifted
168,Taken 3 (2015),121,120635,Action|Crime|Thriller,2015.0,Taken 3
169,The Ballad of Buster Scruggs (2018),121,193944,Comedy|Drama|Western,2018.0,The Ballad of Buster Scruggs
170,Wonder (2017),120,180095,Drama,2017.0,Wonder
171,Bird Box (2018),119,194951,Drama|Sci-Fi|Thriller,2018.0,Bird Box
172,Louis C.K.: Live at The Comedy Store (2015),119,127098,Comedy,2015.0,Louis C.K.: Live at The Comedy Store
173,Pixels (2015),119,135137,Action|Comedy|Sci-Fi,2015.0,Pixels
174,Spider-Man: Far from Home (2019),118,201773,Action|Adventure|Sci-Fi,2019.0,Spider-Man: Far from Home
175,Sing (2016),117,167036,Animation|Children|Comedy,2016.0,Sing
176,Sing (2016),117,169530,Drama,2016.0,Sing
177,Sing Street (2016),116,156387,Drama,2016.0,Sing Street
178,The Lego Batman Movie (2017),116,167746,Action|Animation|Comedy,2017.0,The Lego Batman Movie
179,Carol (2015),115,133645,Drama|Romance,2015.0,Carol
180,The Disaster Artist (2017),115,180297,Comedy|Drama,2017.0,The Disaster Artist
181,Central Intelligence (2016),113,160271,Action|Comedy,2016.0,Central Intelligence
182,Crimson Peak (2015),113,128838,Horror,2015.0,Crimson Peak
183,Deepwater Horizon (2016),113,162598,Drama,2016.0,Deepwater Horizon
184,Ocean's 8 (2018),113,189363,Action|Comedy|Crime|Thriller,2018.0,Ocean's 8
185,Allegiant: Part 1 (2016),112,135141,Adventure|Sci-Fi,2016.0,Allegiant: Part 1
186,Darkest Hour (2017),112,179817,Drama|War,2017.0,Darkest Hour
187,Nerve (2016),111,160954,Drama|Thriller,2016.0,Nerve
188,The Post (2017),110,180497,Drama|Thriller,2017.0,The Post
189,Tomb Raider (2018),110,184471,Action|Adventure|Fantasy,2018.0,Tomb Raider
190,Get Hard (2015),109,131013,Comedy|Crime,2015.0,Get Hard
191,Neighbors 2: Sorority Rising (2016),109,156609,Comedy,2016.0,Neighbors 2: Sorority Rising
192,The Good Dinosaur (2015),109,136016,Adventure|Animation|Children|Comedy|Fantasy,2015.0,The Good Dinosaur
193,Bright (2017),108,182823,Action|Crime|Fantasy,2017.0,Bright
194,King Arthur: Legend of the Sword (2017),107,168344,Action|Adventure|Drama|Fantasy,2017.0,King Arthur: Legend of the Sword
195,Southpaw (2015),106,139642,Action|Drama,2015.0,Southpaw
196,American Made (2017),105,176751,Crime|Thriller,2017.0,American Made
197,The Mummy (2017),105,170827,Action|Adventure|Fantasy|Horror|Thriller,2017.0,The Mummy
198,13 Hours (2016),104,138210,Drama,2016.0,13 Hours
199,Molly's Game (2017),104,180045,Drama,2017.0,Molly's Game

In [18]:
#userid count 삭제
top200_movie = top200_movie.drop(['userId'], axis =1)

In [19]:
#top200 movie 저장
top200_movie.to_csv('top200_movie', mode='w')

In [20]:
#rating2015/100000 부가 정보 드랍
rating2015_100000 = movie2015_rating.drop(columns=['title', 'genres', 'movie_year', 'title_only'], axis = 1)
#top200 movie rating 머지
top200_movie_rating = top200_movie.merge(rating2015_100000, on = 'movieId', how = 'inner')
top200_movie_rating

,title,movieId,genres,movie_year,title_only,userId,rating
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,132215,5.0
1,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,83444,4.5
2,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,97279,5.0
3,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,155512,5.0
4,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,63066,4.0
...,...,...,...,...,...,...,...
64622,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,92692,4.0
64623,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,118906,1.0
64624,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,77506,3.0
64625,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,152866,2.0
64626,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,130556,4.0

In [21]:
#top200 전 사용자별 영화 리뷰 카운트
user_review_count_top200 = top200_movie_rating.groupby('userId')[['movieId']].count()
user_review_count_top200.describe()

            movieId
count  21668.000000
mean       2.982601
std        2.975279
min        1.000000
25%        1.000000
50%        2.000000
75%        4.000000
max       27.000000

In [22]:
#10개 이상 리뷰 남긴 사용자 아이디 추출
is_review_over10 = user_review_count_top200['movieId'] >= 10
userId_review_over10 = user_review_count_top200[is_review_over10]
userId_review_over10 = userId_review_over10.drop(columns=['movieId'])

In [23]:
userId_review_over10

Empty DataFrame
Columns: []
Index: [541, 606, 901, 906, 997, 1281, 1484, 1503, 1745, 1748, 1920, 2345, 2389, 2403, 2738, 3150, 3259, 3394, 3484, 3807, 4019, 4383, 4429, 4642, 4688, 4825, 4950, 5017, 5018, 5114, 5413, 5465, 5630, 5679, 5694, 6115, 6184, 6497, 6553, 6836, 7082, 7439, 8035, 8215, 8225, 8461, 8476, 8528, 8575, 8661, 8694, 8802, 8917, 8979, 9222, 9293, 9391, 9770, 9852, 10135, 10158, 10496, 10585, 10630, 10813, 11052, 11056, 11090, 11258, 11539, 11690, 11719, 12552, 12697, 12939, 13134, 14201, 14375, 14458, 15044, 15121, 15127, 15204, 15476, 15699, 15754, 15830, 16044, 16254, 16377, 16774, 16945, 16955, 17016, 17086, 17160, 17213, 17664, 17669, 17681, ...]

[961 rows x 0 columns]

In [24]:
#리뷰 10개 이상 남긴 사용자에 대한 데이터만 남기기
top200_movie_rating = top200_movie_rating.merge(userId_review_over10, on='userId', how='inner')
top200_movie_rating

,title,movieId,genres,movie_year,title_only,userId,rating
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7439,4.0
1,Zootopia (2016),152081,Action|Adventure|Animation|Children|Comedy,2016.0,Zootopia,7439,4.5
2,Spotlight (2015),142488,Thriller,2015.0,Spotlight,7439,5.0
3,Passengers (2016),166635,Adventure|Drama|Romance|Sci-Fi,2016.0,Passengers,7439,3.5
4,Lady Bird (2017),177615,Comedy,2017.0,Lady Bird,7439,4.0
...,...,...,...,...,...,...,...
12585,The Witch (2015),140267,Horror,2015.0,The Witch,6553,4.5
12586,War Dogs (2016),161131,Comedy,2016.0,War Dogs,6553,2.5
12587,War for the Planet of the Apes (2017),173145,Action|Adventure|Drama|Sci-Fi,2017.0,War for the Planet of the Apes,6553,1.5
12588,The Conjuring 2 (2016),159858,Horror,2016.0,The Conjuring 2,6553,0.5
12589,Upgrade (2018),189203,Action|Comedy|Horror|Sci-Fi|Thriller,2018.0,Upgrade,6553,3.0

In [25]:
#top200 영화에 대한 사용자 평점 행렬 저장
top200_movie_rating.to_csv('top200_movie_rating', mode='w')

In [26]:
#top200_movie_rating에서 사용자 아이디만 추출
user_list = top200_movie_rating['userId'].unique()
user_list = pd.DataFrame(user_list, columns=['userId'])
user_list

     userId
0      7439
1    144980
2    100230
3    162153
4     72265
..      ...
956  123159
957  158028
958    2389
959   78281
960    6553

[961 rows x 1 columns]

In [27]:
#전체 태그 필터링 사용자/영화 Id
top200_tags = top200_movie.merge(tags, on = 'movieId', how = 'inner')
top200_tags = top200_tags.merge(user_list, on = 'userId', how = 'inner')
top200_tags

,title,movieId,genres,movie_year,title_only,userId,tag,timestamp
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7082,mars,1553637106
1,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7082,overrated,1553637089
2,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7082,scientific,1553637097
3,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7082,space,1553637094
4,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7082,Survival Instinct,1553637103
...,...,...,...,...,...,...,...,...
15002,The Disaster Artist (2017),180297,Comedy|Drama,2017.0,The Disaster Artist,997,hollywood,1529752734
15003,The Disaster Artist (2017),180297,Comedy|Drama,2017.0,The Disaster Artist,997,movie business,1529752732
15004,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,91560,courtroom,1525139037
15005,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,91560,poker,1525139009
15006,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,91560,rise to power,1525139018

In [28]:
#필터링된 태그 저장
top200_tags.to_csv('top200_tags', mode='w')

In [29]:
#영화-장르 (장르 분해)

In [30]:
#각 장르 나눠서 새 행 만들기
result = top200_movie['genres'].str.split('|')
result = result.apply(lambda x: pd.Series(x))
result.stack()
result.stack().reset_index(level=1, drop=True)
result = result.stack().reset_index(level=1, drop=True).to_frame('genres_single')
result

    genres_single
0       Adventure
0           Drama
0          Sci-Fi
1          Action
1       Adventure
..            ...
197       Fantasy
197        Horror
197      Thriller
198         Drama
199         Drama

[514 rows x 1 columns]

In [31]:
#top200_movie 각 장르별 표기
top200_movie_single = top200_movie.merge(result, left_index=True, right_index=True, how='left')
top200_movie_single

,title,movieId,genres,movie_year,title_only,genres_single
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,Adventure
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,Drama
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,Sci-Fi
1,Deadpool (2016),122904,Action|Adventure|Comedy|Sci-Fi,2016.0,Deadpool,Action
1,Deadpool (2016),122904,Action|Adventure|Comedy|Sci-Fi,2016.0,Deadpool,Adventure
...,...,...,...,...,...,...
197,The Mummy (2017),170827,Action|Adventure|Fantasy|Horror|Thriller,2017.0,The Mummy,Fantasy
197,The Mummy (2017),170827,Action|Adventure|Fantasy|Horror|Thriller,2017.0,The Mummy,Horror
197,The Mummy (2017),170827,Action|Adventure|Fantasy|Horror|Thriller,2017.0,The Mummy,Thriller
198,13 Hours (2016),138210,Drama,2016.0,13 Hours,Drama
199,Molly's Game (2017),180045,Drama,2017.0,Molly's Game,Drama

In [32]:
#싱글 장르별 표기 저장
top200_movie_genre = top200_movie_single
top200_movie_genre.to_csv('top200_movie_genre', mode='w')

In [33]:
#사용자별 영화 선호도 top3 추출

In [34]:
#각 장르 나눠서 새 행 만들기
result = top200_movie_rating['genres'].str.split('|')
result = result.apply(lambda x: pd.Series(x))
result.stack()
result.stack().reset_index(level=1, drop=True)
result = result.stack().reset_index(level=1, drop=True).to_frame('genres_single')
result

      genres_single
0         Adventure
0             Drama
0            Sci-Fi
1            Action
1         Adventure
...             ...
12589        Action
12589        Comedy
12589        Horror
12589        Sci-Fi
12589      Thriller

[34356 rows x 1 columns]

In [35]:
#top200_movie_rating 각 장르별 표기
top200_movie_rating_genre = top200_movie_rating.merge(result, left_index=True, right_index=True, how='left')
top200_movie_rating_genre

,title,movieId,genres,movie_year,title_only,userId,rating,genres_single
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7439,4.0,Adventure
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7439,4.0,Drama
0,The Martian (2015),134130,Adventure|Drama|Sci-Fi,2015.0,The Martian,7439,4.0,Sci-Fi
1,Zootopia (2016),152081,Action|Adventure|Animation|Children|Comedy,2016.0,Zootopia,7439,4.5,Action
1,Zootopia (2016),152081,Action|Adventure|Animation|Children|Comedy,2016.0,Zootopia,7439,4.5,Adventure
...,...,...,...,...,...,...,...,...
12589,Upgrade (2018),189203,Action|Comedy|Horror|Sci-Fi|Thriller,2018.0,Upgrade,6553,3.0,Action
12589,Upgrade (2018),189203,Action|Comedy|Horror|Sci-Fi|Thriller,2018.0,Upgrade,6553,3.0,Comedy
12589,Upgrade (2018),189203,Action|Comedy|Horror|Sci-Fi|Thriller,2018.0,Upgrade,6553,3.0,Horror
12589,Upgrade (2018),189203,Action|Comedy|Horror|Sci-Fi|Thriller,2018.0,Upgrade,6553,3.0,Sci-Fi
12589,Upgrade (2018),189203,Action|Comedy|Horror|Sci-Fi|Thriller,2018.0,Upgrade,6553,3.0,Thriller

In [36]:
top200_user_genre = top200_movie_rating_genre.groupby(by=['userId', 'genres_single'], as_index=False).count()
top200_user_genre.head(200)

,userId,genres_single,title,movieId,genres,movie_year,title_only,rating
0,541,Action,7,7,7,7,7,7
1,541,Adventure,8,8,8,8,8,8
2,541,Animation,2,2,2,2,2,2
3,541,Children,1,1,1,1,1,1
4,541,Comedy,2,2,2,2,2,2
5,541,Crime,2,2,2,2,2,2
6,541,Drama,6,6,6,6,6,6
7,541,Fantasy,3,3,3,3,3,3
8,541,IMAX,1,1,1,1,1,1
9,541,Romance,1,1,1,1,1,1
10,541,Sci-Fi,5,5,5,5,5,5
11,541,Thriller,2,2,2,2,2,2
12,606,Action,5,5,5,5,5,5
13,606,Adventure,6,6,6,6,6,6
14,606,Animation,5,5,5,5,5,5
15,606,Children,4,4,4,4,4,4
16,606,Comedy,7,7,7,7,7,7
17,606,Crime,2,2,2,2,2,2
18,606,Drama,2,2,2,2,2,2
19,606,Fantasy,4,4,4,4,4,4
20,606,Horror,1,1,1,1,1,1
21,606,Sci-Fi,4,4,4,4,4,4
22,606,Thriller,4,4,4,4,4,4
23,901,(no genres listed),1,1,1,1,1,1
24,901,Action,2,2,2,2,2,2
25,901,Adventure,1,1,1,1,1,1
26,901,Animation,1,1,1,1,1,1
27,901,Comedy,3,3,3,3,3,3
28,901,Crime,1,1,1,1,1,1
29,901,Drama,5,5,5,5,5,5
30,901,Horror,1,1,1,1,1,1
31,901,Romance,1,1,1,1,1,1
32,901,Sci-Fi,3,3,3,3,3,3
33,901,Thriller,2,2,2,2,2,2
34,906,Action,9,9,9,9,9,9
35,906,Adventure,10,10,10,10,10,10
36,906,Animation,3,3,3,3,3,3
37,906,Children,3,3,3,3,3,3
38,906,Comedy,1,1,1,1,1,1
39,906,Fantasy,4,4,4,4,4,4
40,906,Horror,1,1,1,1,1,1
41,906,Sci-Fi,5,5,5,5,5,5
42,906,Thriller,2,2,2,2,2,2
43,997,Action,2,2,2,2,2,2
44,997,Adventure,2,2,2,2,2,2
45,997,Animation,1,1,1,1,1,1
46,997,Children,1,1,1,1,1,1
47,997,Comedy,3,3,3,3,3,3
48,997,Crime,1,1,1,1,1,1
49,997,Drama,10,10,10,10,10,10
50,997,Fantasy,1,1,1,1,1,1
51,997,Horror,2,2,2,2,2,2
52,997,Mystery,1,1,1,1,1,1
53,997,Romance,1,1,1,1,1,1
54,997,Sci-Fi,2,2,2,2,2,2
55,997,Thriller,4,4,4,4,4,4
56,997,Western,1,1,1,1,1,1
57,1281,(no genres listed),1,1,1,1,1,1
58,1281,Action,3,3,3,3,3,3
59,1281,Adventure,3,3,3,3,3,3
60,1281,Animation,1,1,1,1,1,1
61,1281,Children,1,1,1,1,1,1
62,1281,Comedy,2,2,2,2,2,2
63,1281,Crime,2,2,2,2,2,2
64,1281,Drama,4,4,4,4,4,4
65,1281,Fantasy,2,2,2,2,2,2
66,1281,Mystery,1,1,1,1,1,1
67,1281,Romance,1,1,1,1,1,1
68,1281,Thriller,3,3,3,3,3,3
69,1281,Western,1,1,1,1,1,1
70,1484,Action,5,5,5,5,5,5
71,1484,Adventure,3,3,3,3,3,3
72,1484,Comedy,5,5,5,5,5,5
73,1484,Crime,2,2,2,2,2,2
74,1484,Drama,4,4,4,4,4,4
75,1484,Fantasy,1,1,1,1,1,1
76,1484,Horror,1,1,1,1,1,1
77,1484,Romance,2,2,2,2,2,2
78,1484,Sci-Fi,2,2,2,2,2,2
79,1484,Thriller,3,3,3,3,3,3
80,1503,Action,8,8,8,8,8,8
81,1503,Adventure,8,8,8,8,8,8
82,1503,Children,2,2,2,2,2,2
83,1503,Comedy,2,2,2,2,2,2
84,1503,Drama,2,2,2,2,2,2
85,1503,Fantasy,4,4,4,4,4,4
86,1503,IMAX,1,1,1,1,1,1
87,1503,Romance,1,1,1,1,1,1
88,1503,Sci-Fi,8,8,8,8,8,8
89,1503,Thriller,2,2,2,2,2,2
90,1745,(no genres listed),1,1,1,1,1,1
91,1745,Action,5,5,5,5,5,5
92,1745,Adventure,3,3,3,3,3,3
93,1745,Comedy,2,2,2,2,2,2
94,1745,Crime,4,4,4,4,4,4
95,1745,Drama,3,3,3,3,3,3
96,1745,Horror,1,1,1,1,1,1
97,1745,Mystery,1,1,1,1,1,1
98,1745,Romance,1,1,1,1,1,1
99,1745,Sci-Fi,1,1,1,1,1,1
100,1745,Thriller,3,3,3,3,3,3
101,1745,Western,1,1,1,1,1,1
102,1748,Action,6,6,6,6,6,6
103,1748,Adventure,7,7,7,7,7,7
104,1748,Children,1,1,1,1,1,1
105,1748,Comedy,1,1,1,1,1,1
106,1748,Crime,3,3,3,3,3,3
107,1748,Drama,9,9,9,9,9,9
108,1748,Fantasy,3,3,3,3,3,3
109,1748,IMAX,1,1,1,1,1,1
110,1748,Mystery,1,1,1,1,1,1
111,1748,Romance,1,1,1,1,1,1
112,1748,Sci-Fi,8,8,8,8,8,8
113,1748,Thriller,5,5,5,5,5,5
114,1920,Action,6,6,6,6,6,6
115,1920,Adventure,4,4,4,4,4,4
116,1920,Animation,1,1,1,1,1,1
117,1920,Comedy,2,2,2,2,2,2
118,1920,Drama,5,5,5,5,5,5
119,1920,Fantasy,1,1,1,1,1,1
120,1920,Horror,1,1,1,1,1,1
121,1920,Romance,1,1,1,1,1,1
122,1920,Sci-Fi,5,5,5,5,5,5
123,1920,Thriller,3,3,3,3,3,3
124,1920,War,1,1,1,1,1,1
125,2345,Action,5,5,5,5,5,5
126,2345,Adventure,4,4,4,4,4,4
127,2345,Animation,1,1,1,1,1,1
128,2345,Children,1,1,1,1,1,1
129,2345,Comedy,5,5,5,5,5,5
130,2345,Drama,3,3,3,3,3,3
131,2345,Fantasy,3,3,3,3,3,3
132,2345,Horror,1,1,1,1,1,1
133,2345,Sci-Fi,5,5,5,5,5,5
134,2345,Thriller,2,2,2,2,2,2
135,2389,Action,3,3,3,3,3,3
136,2389,Adventure,1,1,1,1,1,1
137,2389,Comedy,2,2,2,2,2,2
138,2389,Crime,3,3,3,3,3,3
139,2389,Drama,3,3,3,3,3,3
140,2389,Fantasy,2,2,2,2,2,2
141,2389,Horror,1,1,1,1,1,1
142,2389,Mystery,2,2,2,2,2,2
143,2389,Romance,2,2,2,2,2,2
144,2389,Sci-Fi,2,2,2,2,2,2
145,2389,Thriller,2,2,2,2,2,2
146,2403,Action,8,8,8,8,8,8
147,2403,Adventure,8,8,8,8,8,8
148,2403,Animation,1,1,1,1,1,1
149,2403,Comedy,1,1,1,1,1,1
150,2403,Crime,2,2,2,2,2,2
151,2403,Drama,4,4,4,4,4,4
152,2403,Fantasy,4,4,4,4,4,4
153,2403,IMAX,1,1,1,1,1,1
154,2403,Romance,1,1,1,1,1,1
155,2403,Sci-Fi,5,5,5,5,5,5
156,2403,Thriller,1,1,1,1,1,1
157,2738,Action,5,5,5,5,5,5
158,2738,Adventure,4,4,4,4,4,4
159,2738,Comedy,1,1,1,1,1,1
160,2738,Crime,1,1,1,1,1,1
161,2738,Drama,2,2,2,2,2,2
162,2738,Fantasy,2,2,2,2,2,2
163,2738,Horror,1,1,1,1,1,1
164,2738,Mystery,1,1,1,1,1,1
165,2738,Sci-Fi,5,5,5,5,5,5
166,2738,Thriller,2,2,2,2,2,2
167,2738,Western,1,1,1,1,1,1
168,3150,Action,8,8,8,8,8,8
169,3150,Adventure,7,7,7,7,7,7
170,3150,Animation,1,1,1,1,1,1
171,3150,Comedy,4,4,4,4,4,4
172,3150,Crime,2,2,2,2,2,2
173,3150,Drama,9,9,9,9,9,9
174,3150,Fantasy,3,3,3,3,3,3
175,3150,Horror,2,2,2,2,2,2
176,3150,Mystery,1,1,1,1,1,1
177,3150,Romance,1,1,1,1,1,1
178,3150,Sci-Fi,7,7,7,7,7,7
179,3150,Thriller,2,2,2,2,2,2
180,3150,War,1,1,1,1,1,1
181,3259,Action,7,7,7,7,7,7
182,3259,Adventure,3,3,3,3,3,3
183,3259,Children,1,1,1,1,1,1
184,3259,Comedy,2,2,2,2,2,2
185,3259,Crime,2,2,2,2,2,2
186,3259,Drama,6,6,6,6,6,6
187,3259,Fantasy,2,2,2,2,2,2
188,3259,Horror,1,1,1,1,1,1
189,3259,Mystery,2,2,2,2,2,2
190,3259,Romance,2,2,2,2,2,2
191,3259,Sci-Fi,3,3,3,3,3,3
192,3259,Thriller,6,6,6,6,6,6
193,3394,(no genres listed),1,1,1,1,1,1
194,3394,Action,4,4,4,4,4,4
195,3394,Adventure,2,2,2,2,2,2
196,3394,Animation,1,1,1,1,1,1
197,3394,Children,1,1,1,1,1,1
198,3394,Comedy,3,3,3,3,3,3
199,3394,Crime,5,5,5,5,5,5

In [37]:
top200_user_genre = top200_user_genre.drop(columns=['movieId', 'genres', 'movie_year', 'title_only', 'rating'], axis=1)
top200_user_genre

       userId genres_single  title
0         541        Action      7
1         541     Adventure      8
2         541     Animation      2
3         541      Children      1
4         541        Comedy      2
...       ...           ...    ...
10638  162349       Fantasy      2
10639  162349        Horror      2
10640  162349       Romance      2
10641  162349        Sci-Fi      5
10642  162349      Thriller      3

[10643 rows x 3 columns]

In [38]:
#top200_user_genre 저장
top200_user_genre.to_csv('top200_user_genre', mode='w')

In [39]:
#top200_user_genre.head(200)

In [40]:
top085_user_genre['title_x'] >= top085_user_genre['title_y']

NameError: name 'top085_user_genre' is not defined

In [41]:
#0.85 분위 이상의 장르만 남기기
top085 = top200_user_genre.groupby(['userId'])['title'].quantile(q=0.85, interpolation='nearest')
top070 = top200_user_genre.groupby(['userId'])['title'].quantile(q=0.7, interpolation='nearest')
top050 = top200_user_genre.groupby(['userId'])['title'].quantile(q=0.5, interpolation='nearest')

user_genre_quantile = top200_user_genre.merge(top085, on = 'userId', how ='inner')
user_genre_quantile = user_genre_quantile.merge(top070, on = 'userId', how ='inner')
user_genre_quantile = user_genre_quantile.merge(top050, on = 'userId', how ='inner')
user_genre_quantile.columns=['userId', 'genres_single', 'title', 'title085', 'title070', 'title050']
user_genre_quantile

/usr/local/lib/python3.9/site-packages/pandas/core/frame.py:9191: FutureWarning: Passing 'suffixes' which cause duplicate columns {'title_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

       userId genres_single  title  title085  title070  title050
0         541        Action      7         6         5         2
1         541     Adventure      8         6         5         2
2         541     Animation      2         6         5         2
3         541      Children      1         6         5         2
4         541        Comedy      2         6         5         2
...       ...           ...    ...       ...       ...       ...
10638  162349       Fantasy      2         5         3         2
10639  162349        Horror      2         5         3         2
10640  162349       Romance      2         5         3         2
10641  162349        Sci-Fi      5         5         3         2
10642  162349      Thriller      3         5         3         2

[10643 rows x 6 columns]

In [42]:
#0.85, 0.70 분위 이상의 장르만 남기기
top070_user_genre = user_genre_quantile[user_genre_quantile['title'] >= user_genre_quantile['title070']]
top070_user_genre.to_csv('top070_user_genre', mode='w')

In [72]:
#0.85 분위 이상의 장르만 남기기
top085_user_genre = user_genre_quantile[user_genre_quantile['title'] >= user_genre_quantile['title085']]
top085_user_genre.to_csv('top085_user_genre', mode='w')

In [73]:
#0.70 분위 이상의 장르만 남기기
top070_user_genre = user_genre_quantile[(user_genre_quantile['title'] >= user_genre_quantile['title070']) & (user_genre_quantile['title'] < user_genre_quantile['title085'])]
top070_user_genre.to_csv('top070_user_genre', mode='w')

In [74]:
#0.50 분위 이상의 장르만 남기기
top050_user_genre = user_genre_quantile[(user_genre_quantile['title'] >= user_genre_quantile['title050']) & (user_genre_quantile['title'] < user_genre_quantile['title070'])]
top050_user_genre.to_csv('top050_user_genre', mode='w')